click
click-completion
flask
flask-classful
flask-httpauth
opencage
pluggy
pbr
pyyaml
# Allowing a newer version can lead to a conflict with
# requests.
pytz
requests
thesmuggler
update_checker
sqlalchemy
psycopg2>=2.9.0
GeoAlchemy2
oslo.config
oslo.log
yaspin
tabulate
